<!--Para fazer com fetch-->
<script src="/js/Produto/listar.js"></script>

<div>
    <h1>Funcionários</h1>
    <div>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" method="post" action="/funcionarios/buscarfuncionarios">
                <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" name="busca">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="fas fa-plus"></i> Cadastrar</button>
            </div>
          </nav>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Novo Cargo</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post" action="/cargos/cadastrarcargos">
                    <div class="mb-3">
                      <label for="cpf" class="col-form-label">Cargo:</label>
                      <input name="nomeCargo" type="text" class="form-control" id="nomeCargo">
                    </div> 
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Departamento:</label>
                      <select id="departamento_idDepartamento" name="departamento_idDepartamento" class="form-select" aria-label="Default select example">
                        
                      </select>
                    </div>  
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="table-responsive" style="margin-top: 15px;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Telefone</th>
                    <th>Data admissão</th>
                    <th>Email</th>
                    <th>Senha</th>                    

                </tr>
            </thead>
            <tbody>
                <% lista.map(function(value, index) { %>
                    <tr>
                        <td><%= value.idFuncionario %></td>
                        <td><%= value.funcionarioCPF %></td>
                        <td><%= value.funcionarioNome %></td>
                        <td><%= value.funcionarioCargo %></td>
                        <td><%= value.funcionarioDepartamento %></td>
                        <td><%= value.funcionarioTelefone %></td>
                        <td><%= value.dataAdmissao %></td>              
                        <td><%= value.funcionarioEmail %></td>
                        <td><%= value.funcionarioSenha %></td>                                       
                        <td>
                            <div>
                                <button class="btn btn-primary"> <i class="fas fa-pen"></i></button>
                                <a class="btn btn-danger" href="/funcionarios/deletarfuncionarios/<%= value.idFuncionario %>" role="button"><i
                                    class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

